<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"></head>
<body>
    
    <form class="border card rounded border-dark d-flex flex-column m-auto text-center mt-5" style="width: 40vh;" action="/adm/login" method="POST">
        <h3 class="mt-2">Administrator Login</h3>
        <input class="m-3 p-2" name="email" placeholder="login" required>
        <input type="password" class="m-3 p-2" name="password" placeholder="password" required>
        <button class="btn btn-primary m-3 p-2">login</button>
        <a href="/" id="admBtn" class="btn bt-warning bg-warning m-3 p-2">User?</a>
    </form>    


    <script src="./script.js"></script>
</body>
</html>